/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/************************************************/
/**************** Global Classes ****************/
/************************************************/
/************** scss/global/animation **************/
/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/
/************** scss/global/elements **************/
/*------------------------------------*\
    $BUTTONS AND ICONS
\*------------------------------------*/
.btn, .button {
  margin: 12px 0;
  border: 2px solid #9AACDB;
  border-radius: 3px;
  padding: 12px, 6px;
  color: #223054;
  background-color: #47EDB3;
  font-weight: bold;
  /* transition mixin */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .btn:hover, .button:hover {
    color: #47EDB3;
    background-color: #223054;
    border-color: #47EDB3; }
  .btn:active, .button:active {
    color: #223054;
    background-color: #47EDB3;
    border-color: #9AACDB; }
  .btn.invert, .button.invert {
    color: #47EDB3;
    background-color: transparent;
    border-color: #47EDB3; }
    .btn.invert:hover, .button.invert:hover {
      color: #223054;
      background-color: #47EDB3;
      border-color: #9AACDB; }
    .btn.invert:active, .button.invert:active {
      color: #47EDB3;
      background-color: #223054;
      border-color: #47EDB3; }

/*********** scss/global/containers ***********/
/*------------------------------------*\
    $CONTAINER STYLES
\*------------------------------------*/
/* wp-admin bar adjustments */
.admin-bar header.site-header, .admin-bar .nav-drawer, .admin-bar #open-nav {
  top: 32px; }

section.pad {
  padding: 120px 0; }

.quote {
  text-align: center; }

.dim {
  color: #EAF2FF;
  background: rgba(10, 13, 20, 0.5); }

.light-back {
  color: #0A0D14;
  background: #9AACDB; }

.primary-back {
  color: #EAF2FF;
  background: #5578D4; }

.dark-back {
  color: #EAF2FF;
  background: #223054; }

.black-back {
  color: #EAF2FF;
  background: #0A0D14; }

.parallax-back {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.hero .container {
  min-height: 100vh;
  color: #EAF2FF; }

.insta-card {
  height: 250px; }
  .insta-card .content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: #EAF2FF;
    background-color: #223054;
    opacity: 0.9;
    /* transition mixin */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s; }
    .insta-card .content .desc {
      max-height: 72px;
      margin-bottom: 24px;
      overflow: hidden; }
    .insta-card .content .fa-instagram {
      color: #47EDB3;
      font-size: 60px;
      text-align: center;
      /* transition mixin */
      -webkit-transition: all 0.7s;
      -moz-transition: all 0.7s;
      -ms-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s;
      /* transform mixin */
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
  .insta-card:hover .content {
    top: 0%; }
    .insta-card:hover .content .fa-instagram {
      /* transform mixin */
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }

.events {
  padding: 0; }
  .events .image-overlay:before {
    background: rgba(34, 48, 84, 0.9); }
  .events h2 {
    margin: 0;
    padding: 48px 0; }
  .events .event_post {
    border-top: 1px solid #47EDB3;
    border-right: 1px solid #47EDB3;
    padding: 48px 24px; }
    .events .event_post:nth-child(even) {
      border-right: none; }

.rider_post {
  height: 250px;
  color: #EAF2FF;
  background-size: cover;
  background-position: center; }
  .rider_post .rider-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12px;
    text-align: center; }
    .rider_post .rider-info .badges i {
      padding: 0 6px;
      font-size: 27px; }
  .rider_post .rider-bio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    background: #223054;
    opacity: 0.9;
    /* transform mixin */
    -webkit-transform: translate(120%, -120%);
    -moz-transform: translate(120%, -120%);
    -ms-transform: translate(120%, -120%);
    -o-transform: translate(120%, -120%);
    transform: translate(120%, -120%);
    /* transition mixin */
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
    .rider_post .rider-bio:before {
      content: ' ';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      width: 450px;
      height: 450px;
      border-bottom: 12px solid #9AACDB;
      background: #223054;
      /* transform mixin */
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
  .rider_post:hover .rider-bio {
    /* transform mixin */
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    /* transition mixin */
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out; }

/************** scss/global/forms **************/
/*------------------------------------*\
    $FORM STYLES
\*------------------------------------*/
/************** scss/global/footer **************/
/*------------------------------------*\
    $FOOTER STYLES
\*------------------------------------*/
/************** scss/global/header **************/
/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header.site-header {
  position: fixed;
  top: 0;
  z-index: 10; }

img.logo {
  max-height: 75px;
  padding: 12px; }

#open-nav, #close-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1; }
  #open-nav a, #close-nav a {
    display: block;
    float: none;
    padding: 12px 18px;
    color: #9AACDB;
    text-shadow: 1px 1px 0px #223054, 1px -1px 0px #223054, -1px 1px 0px #223054, -1px -1px 0px #223054;
    font-size: 28px; }
    #open-nav a:hover, #close-nav a:hover {
      color: #47EDB3; }

#close-nav {
  position: absolute; }

.nav-drawer {
  position: fixed;
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(10, 13, 20, 0.5);
  /* transition mixin */
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out; }

.nav-drawer.open {
  left: 0; }

.image-menu-item {
  position: relative;
  min-height: 400px;
  background-size: cover;
  background-position: 48% 48%;
  /* transition mixin */
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .image-menu-item h3 {
    position: absolute;
    top: 50%;
    width: 100%;
    /* transform mixin */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #EAF2FF;
    text-align: center; }
  .image-menu-item:before {
    /* transition mixin */
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .image-menu-item > * {
    /* transition mixin */
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    opacity: 1; }
  .image-menu-item:hover {
    background-position: 52% 52%; }
    .image-menu-item:hover > * {
      opacity: 0; }
  .image-menu-item:hover:before {
    background-color: transparent; }

/************** scss/global/helpers **************/
/*------------------------------------*\
    $HELPER CLASSES
\*------------------------------------*/
.no-pad {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.margin-top {
  margin-top: 24px; }

.margin-bottom {
  margin-bottom: 24px; }

.padding-top {
  padding-top: 24px; }

.padding-bottom {
  padding-bottom: 24px; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.relative {
  position: relative !important; }

.absolute {
  position: absolute !important; }

.fright {
  float: right; }

.image-overlay {
  position: relative; }
  .image-overlay:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 13, 20, 0.5); }
  .image-overlay > * {
    position: relative; }

.vert-center {
  position: absolute;
  top: 50%;
  /* transform mixin */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .vert-center.row {
    width: 100%; }

.flex-xs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 768px) {
  .flex-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 992px) {
  .flex-md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 1200px) {
  .flex-lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

/************* scss/global/reset *************/
/*------------------------------------*\
    $ELEMENT BASES
\*------------------------------------*/
body {
  color: #0A0D14;
  background: #EAF2FF;
  font-size: 18px;
  line-height: 24px; }

a {
  color: #5578D4;
  /* transition mixin */
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s; }
  a:hover {
    color: #47EDB3; }

/************* scss/global/sidebar *************/
/*------------------------------------*\
    $SIDEBAR
\*------------------------------------*/
/************** scss/global/text **************/
/*------------------------------------*\
    $TEXT STYLES
\*------------------------------------*/
body, p, ul, ol, li {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.33333; }

h1, h2, h3, h4, h5, p, ul, ol, li {
  margin: 0;
  margin-bottom: 12px; }

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  line-height: 1.33333; }

p {
  font-size: 18px;
  line-height: 1.33333; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 27px;
  font-weight: bold; }

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold; }

/*************************************************/
/****************** Junk-Drawer ******************/
/*************************************************/

/*# sourceMappingURL=main.css.map */
