/*------------------------------------*\
    $CONTAINER STYLES
\*------------------------------------*/

/* wp-admin bar adjustments */

.admin-bar {
    header.site-header, .nav-drawer, #open-nav {
        top: 32px;
    }
}

section.pad {
    padding: 10*$pad 0;
}

.quote {
    text-align: center;
}

.dim {
    color: $white;
    background: $dim;
}

.light-back {
    color: $black;
    background: $primary-light;
}

.primary-back {
    color: $white;
    background: $primary-color;
}

.dark-back {
    color: $white;
    background: $primary-dark;
}

.black-back {
    color: $white;
    background: $black;
}

.parallax-back {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .container {
	min-height: 100vh;
	color: $white;
}

.insta-card {
    height: 250px;

    .content {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $pad;
        color: $white;
        background-color: $primary-dark;
        opacity: 0.9;
        @include transition(all, $slow);
        .desc {
            max-height: 3*$line-height;
            margin-bottom: 2*$pad;
            overflow: hidden;
        }
        .fa-instagram {
            color: $secondary-color;
            font-size: 60px;
            text-align: center;
            @include transition(all, $slow);
            @include transform(rotate(0deg));
        }
    }
    &:hover .content {
        top: 0%;
        .fa-instagram {
            @include transform(rotate(360deg));
        }
    }
}

.rider_post  {
    height: 250px;
    color: $white;
    background-size: cover;
    background-position: center;

    .rider-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: $pad;
        text-align: center;
        .badges i {
            padding: 0 $pad/2;
            font-size: 1.5*$font-size;
        }
    }

    .rider-bio {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $pad;
        background: $primary-dark;
        opacity: 0.9;
        @include transform( translate(120%, -120%) );
        @include transition(all, $normal-speed, ease-in);

        &:before {
            content: ' ';
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            width: 450px;
            height: 450px;
            border-bottom: $pad solid $primary-light;
            background: $primary-dark;
            @include transform( translate(-50%, -50%) rotate(45deg) );
        }
    }

    &:hover .rider-bio {
        @include transform( translate(0, 0) );
        @include transition(all, $slow, ease-out);        
    }

}