/*------------------------------------*\
    $HEADER
\*------------------------------------*/


body.home {
	margin-top: 52px + $gutter*2;
}

header#masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar {
  margin-bottom: 0;
  background: $header-back-color;
  border: none;
  border-radius: 0;
  opacity: 0.75;
  @include transition(opacity, $normal-speed);
}

.navbar:hover {
  opacity: 1;
}

.navbar-brand {
  float: left;
  padding: 5px;
  padding-left: 15px + $pad;
}

.logo {
	height: 100%;
}

.md-menu-container {
  float: right;
  padding-right: 0;
  background: $header-back-color;
}

.menu-button {
  position: relative;
  width: 50px;
  height: 50px;
  float: right;
  color: $white;
  background: $primary-color;
  font-size: 1.25*$font-size;
  cursor: pointer;
  @include transition(background, $normal-speed)
}

.open.menu-button {
  color: $white;
  background: $secondary-color;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:hover, .menu-button:hover, .menu-button:focus {
  color: $secondary-color;
  background: $primary-dark;
}

.nav>li>a:focus {
  background: none;
}

.navbar-nav>li>.dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
  background: $primary-color;
}

.dropdown-menu>li>a {
  padding: $pad;
  color: $white;
  @include transition(background, $normal-speed)
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: $secondary-color;
  background: $primary-dark; 
}

.menu-button i.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%))
}

#sub-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  display: none;
  @include transform(translateY(100%));
  background: $secondary-color;
  color: $primary-color;
  
  .dropdown-menu {
    background: $secondary-color;
  }
}

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
}

#menu-primary-menu li:last-of-type a {
  color: $secondary-color;
}