/*------------------------------------*\
    $HEADER
\*------------------------------------*/

header.site-header {
    position: fixed;
    top: 0;
    z-index: 10;
}

img.logo {
    max-height: 75px;
    padding: $pad;
}

#open-nav, #close-nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	a {
	    display: block;
	    float: none;
	    padding: $pad 1.5*$pad;
		color: $primary-light;
	    // text-shadow: 1px 1px 0px $primary-light, 1px -1px 0px $primary-light, -1px 1px 0px $primary-light, -1px -1px 0px $primary-light;
	    font-size: 28px;	}
}

#close-nav {
	position: absolute;
	right: 2*$pad;
}

.nav-drawer {
	position:fixed;
	top: 0;
	left: 100vw;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	background: $dim;
	@include transition(all, $slow, ease-out);
}
.nav-drawer.open {
	left:0;
}

.image-menu-item {
	position: relative;
	min-height: 400px;
	background-size: cover;
	background-position: 48% 48%;
	@include transition(all, $normal-speed, ease-out);

	h3 {
		position: absolute;
		top: 50%;
		width: 100%;
		@include transform(translateY(-50%));
		color: $white;
		text-align: center;
	}

	&:before {
		@include transition(all, $normal-speed, ease-out);
	}

	& > * {
		@include transition(all, $normal-speed, ease-out);
		opacity: 1;
	}

	&:hover {
		background-position: 52% 52%;
		& > * {
			opacity: 0;
		}
	}
	&:hover:before {
		background-color: $clear;
	}
} // end menu item styles