/*------------------------------------*\
    $ELEMENT BASES
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: $font-color;
	font-family: Trade_Gothic_20;
	font-weight: bold;
	font-stretch: condensed;
	text-transform: uppercase;
	span {color: $white;}
}

p {
	margin-bottom: $margin;
	color: $font-color;
	font-size: $font-size;
	line-height: $line-height;
}

a {
	color: $secondary-color;
}

h1 {
	font-size: 54px;
}

h2 {
	color: $primary-light;
	font-size: 36px;
}

h3 {
	font-family: Trade_Gothic;
	font-weight: normal;
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-family: Trade_Gothic_20;
  font-size: 20px;
  font-weight: bold;
  color: $secondary-color;
}

p {
	font-family: Trade_Gothic;
	font-size: $font-size;
	line-height: $line-height;
}

hr {
	border-top: 1pt solid $primary-color;
	width: 80%;
}