/*------------------------------------*\
    $ELEMENT BASES
\*------------------------------------*/

body {
	color: $black;
	background: $white;
	font-size: $font-size;
	line-height: $line-height;
}

a {
	color: $primary-color;
	@include transition(color, $normal-speed);
	&:hover {
		color: $secondary-color;
	}
}