/*------------------------------------*\
    $FONTS
\*------------------------------------*/

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd.otf);
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Obl.otf);
  font-stretch: normal;
  font-style: italic;
  font-weight: normal;
}


@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Extended.otf);
  font-stretch: expanded;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Light.otf);
  font-stretch: normal;
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-LightObl.otf);
  font-stretch: normal;
  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Bold.otf);
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-BoldObl.otf);
  font-stretch: normal;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-BoldExt.otf);
  font-stretch: expanded;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic_20;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Bd20.otf);
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic_20;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Bd20Obl.otf);
  font-stretch: normal;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic_20;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-BdCn20.otf);
  font-stretch: condensed;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic_20;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-BdCn20Obl.otf);
  font-stretch: condensed;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Trade_Gothic_18;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Cn18.otf);
  font-stretch: condensed;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Trade_Gothic_18;
  src: url(../fonts/Trade_Gothic/TradeGothicLTStd-Cn18Obl.otf);
  font-stretch: condensed;
  font-style: italic;
  font-weight: normal;
}