/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

// Colors
$white 			: #EAF2FF;
$black 			: #0A0D14;
$dim 			: rgba(10,13,20,0.5);
$lit 			: rgba(227,235,255,0.5);
$clear			: rgba(0,0,0,0);
$success		: #3EF74D;
$warning		: #F7EB3E;
$error			: #AA2E11;

$primary-light 	: #9AACDB;
$primary-color 	: #5578D4;
$primary-dark 	: #223054;

$secondary-color: #47EDB3;
$border-color	: $secondary-color;

// Typography
$font-size		: 18px;
$font-aspect	: 4/3;
$line-height	: 24px;

$body-font		: 'Source Sans Pro', sans-serif; // 'Adelle Sans';
$header-font	: 'Raleway', sans-serif;// 'Fira Sans';

// Spacing
$pad 			: $line-height/2;
$gutter			: $pad;
$border-radius	: 3px;

// Boostrap break points
// note, xs is default and thus not defined
$screen-sm-min	: 768px;
$screen-md-min	: 992px;
$screen-lg-min	: 1200px;

// transition speeds
$fast 			: 0.25s;
$normal-speed	: 0.4s;
$slow			: 0.7s;